---
layout: default
sidebar: false
---

<header class="masthead gradient-primary">
  {% include header.html %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="header-content">
          <h1><span class="bold">Terraspace</span> Is A Terraform Framework</h1>
          <h2>that optimizes for infrastructure-as-code happiness</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-1 pl-lg-0">
        <div class="header-reference">
          <h6>{% include reference.md %}</h6>
        </div>
      </div>
    </div>
  </div>
</header>

{% include code.html %}
{% include quotes.html %}

<section class="features">
  {% include features.html %}
</section>

{% include quick-start-video.html %}
{% include cta.html %}