<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>The Code</h2>
      <p class="text-muted">Easy to learn</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <h3>Commands</h3>
              <div class="commands">
{% highlight sh %}
terraspace new project
terraspace new module
terraspace up
terraspace seed
terraspace build
terraspace down
{% endhighlight %}
              </div>
            </div>
            <div class="col-lg-6">
              <h3>Structure</h3>
              <div class="commands">
{% highlight sh %}
├── app
│   ├── modules
│   │   ├── instance
│   │   ├── rds
│   │   ├── security_group
│   │   ├── wordpress
│   │   └── vpc
│   └── stacks
│       ├── core
│       └── wordpress
└── config
    ├── backend.tf
    └── provider.tf
{% endhighlight %}
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <h3>Generators</h3>
              <div class="commands">
{% highlight sh %}
$ terraspace new module example
=> Creating new module called example.
      create  app/modules/example
      create  app/modules/example/main.tf
      create  app/modules/example/outputs.tf
      create  app/modules/example/variables.tf
$
{% endhighlight %}
              </div>
            </div>
            <div class="col-lg-6">
              <h3>Testing</h3>
              <div class="commands">
{% highlight sh %}
$ rspec
main
Building test harness...
Test harness built: /tmp/terraspace-test-harnesses/network
=> terraspace up example -y
=> terraform apply -auto-approve
Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
  successful deploy
=> terraspace down example -y
=> terraform destroy -auto-approve
Destroy complete! Resources: 2 destroyed.

Finished in 30.21 seconds (files took 0.29861 seconds to load)
1 example, 0 failures
$
{% endhighlight %}
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
              <h3>Deploy</h3>
              <div class="commands">

{% highlight sh %}
$ terraspace up demo -y
Materializing .terraspace-cache/dev/stacks/demo
Built in .terraspace-cache/dev/stacks/demo
Current directory: .terraspace-cache/dev/stacks/demo
=> terraform apply -auto-approve
Apply complete! Resources: 2 added, 0 changed, 0 destroyed.
network_id = projects/tung-111222/global/networks/duck
$
{% endhighlight %}
              </div>
            </div>
            <div class="col-lg-6">
              <h3>Destroy</h3>
              <div class="commands">
{% highlight sh %}
$ terraspace down demo -y
Materializing .terraspace-cache/dev/stacks/demo
Built in .terraspace-cache/dev/stacks/demo
Current directory: .terraspace-cache/dev/stacks/demo
=> terraform destroy -auto-approve
Destroy complete! Resources: 2 destroyed.
$
{% endhighlight %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
