<div id="top-bar" class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <nav class="navbar navbar-expand-lg">

          <button id="menu-toggle" class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="/img/logos/terraspace-dark.svg" alt="Terraspace Logo"/>
          </a>

          {% if page.url != '/' %}
          <form class="search-form form-group has-search" method="get" action="/search" data-search-form>
            <input type="text" class="form-control" name="q" id="q" placeholder="Search in documentation" data-search-input />
            <span class="search form-control-feedback">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.9 20.1L16.7 13.9C16.7 13.9 16.6 13.9 16.6 13.8C17.5 12.4 18 10.8 18 9C18 4 14 0 9 0C4 0 0 4 0 9C0 14 4 18 9 18C10.8 18 12.4 17.5 13.8 16.6C13.8 16.6 13.8 16.7 13.9 16.7L20.1 22.9C20.5 23.3 21 23.5 21.5 23.5C22 23.5 22.5 23.3 22.9 22.9C23.7 22.1 23.7 20.9 22.9 20.1ZM9 15C5.7 15 3 12.3 3 9C3 5.7 5.7 3 9 3C12.3 3 15 5.7 15 9C15 12.3 12.3 15 9 15Z" fill="white"/>
              </svg>
            </span>
          </form>
          {% endif %}

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#homepageMenu"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="homepageMenu">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% link getting-started.md %}">Getting Started</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% link _docs/intro.md %}">Docs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% link support.md %}">Support</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://learn.boltops.com">Learn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://app.terraspace.cloud">Cloud</a>
              </li>
              <li class="nav-item">
                <a class="nav-link bold" href="https://github.com/boltops-tools/terraspace">
                  {% include svg/github.html %}
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
