<section class="quick-start-video light" data-title="Quick start">
  <div class="inner-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-7">


          <div class="video-box">
            <div class="video-container">
              <div class="d-flex align-items-center">
                <div>

<a href="https://learn.boltops.com/courses/terraspace-fundamentals/lessons/terraspace-quick-start">
  <img class="quick-start-video" src="https://learn-uploads.boltops.com/nl05oz6sjwldtyveahekyzugmuce">
</a>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-5">
          <div class="video-desc">
            <div class="video-desc">
              <h2>Terraspace Quick Start</h2>
              <p>A quick start demo that takes only a few minutes. In this <em><strong>"Getting Started with Terraspace"</strong></em> video, we'll show you how quick and easy it is to use <strong>Terraspace</strong>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
