<div id="sidebar" class="sidebar">
  <div class="content-nav">
    <ul>
      <li><h2><a href="{% link getting-started.md %}">Getting Started</a></h2></li>
      {% include render/category.html category="learn" %}
    </ul>
    <ul>
      <li><h2><a href="{% link docs.md %}">Docs</a></h2></li>

      {% include render/category.html category="top-level" %}

      <li><a href="{% link support.md %}">Support</a></li>
      <li><a href="{% link reference.md %}">CLI Reference</a></li>
    </ul>
  </div>
  <div class="menu-options-wrapper">
    <div class="menu-options">
      <a href="#" id="expand-all">Expand all</a>
      <span class="sep">|</span>
      <a href="#" id="collapse-all">Collapse all</a>
      <span class="sep">|</span>
      <a id="edit-page" href="{{ site.gh_url }}/blob/main/" target="_blank">Edit page</a></li>
    </div>
  </div>
</div>
