<div id="sidebar">
  <div class="content-nav">
    <h2>Docs</h2>
    <ul id="subnav">
      <li><a href="{% link quick-start.md %}">Quick Start</a></li>
      <li><a href="{% link docs.md %}">Intro</a>
        <ul>
          <li><a href="{% link _docs/install.md %}">Install</a></li>
          <li><a href="{% link _docs/structure.md %}">Project Structure</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/config.md %}">Config</a>
        <ul>
          <li><a href="{% link _docs/config/backend.md %}">Backend</a></li>
          <li><a href="{% link _docs/config/provider.md %}">Provider</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/generators.md %}">Generators</a>
        <ul>
          <li><a href="{% link _docs/generators/project.md %}">Project</a></li>
          <li><a href="{% link _docs/generators/module.md %}">Module</a></li>
          <li><a href="{% link _docs/generators/stack.md %}">Stack</a></li>
          <li><a href="{% link _docs/generators/cheatsheet.md %}">Cheatsheet</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/tfvars.md %}">Tfvars</a>
        <ul>
          <li><a href="{% link _docs/tfvars/layering.md %}">Layering</a></li>
          <li><a href="{% link _docs/tfvars/seed.md %}">Seed</a></li>
          <li><a href="{% link _docs/tfvars/lookups.md %}">Lookups</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/state.md %}">State File</a>
        <ul>
          <li><a href="{% link _docs/state/approaches.md %}">Approaches</a></li>
          <li><a href="{% link _docs/state/existing.md %}">Existing Backend</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/testing.md %}">Testing</a>
        <ul>
          <li><a href="{% link _docs/testing/module.md %}">Module-Level</a></li>
          <li><a href="{% link _docs/testing/project.md %}">Project-Level</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/cli.md %}">CLI</a>
        <ul>
          <li><a href="{% link _docs/cli/args.md %}">Args</a></li>
          <li><a href="{% link _docs/cli/hooks.md %}">Hooks</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/dsl.md %}">DSL</a></li>
      <li>More
        <ul class="more">
          <li><a href="{% link support.md %}">Support</a></li>
          <li><a href="{% link _docs/next-steps.md %}">Next Steps</a></li>
          <li><a href="{% link reference.md %}">CLI Reference</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="expand-all">
    <a id="expand-all">expand all</a>
  </div>
</div>
