<div id="sidebar">
  <section class="content-nav">
    <h2><a href="{% link getting-started.md %}">Getting Started</a></h2>
    <ul id="learn">
      <li><a href="{% link _docs/learn/aws.md %}">AWS</a>
        <ul>
          <li><a href="{% link _docs/learn/aws/install.md %}">Install Terraspace</a></li>
          <li><a href="{% link _docs/learn/aws/configure.md %}">Configure AWS</a></li>
          <li><a href="{% link _docs/learn/aws/new-project.md %}">Create New Project</a></li>
          <li><a href="{% link _docs/learn/aws/review-project.md %}">Review the Project</a></li>
          <li><a href="{% link _docs/learn/aws/deploy.md %}">Deploy Infrastructure</a></li>
          <li><a href="{% link _docs/learn/aws/change.md %}">Change Infrastructure</a></li>
          <li><a href="{% link _docs/learn/aws/update.md %}">Update Infrastructure</a></li>
          <li><a href="{% link _docs/learn/aws/destroy.md %}">Destroy Infrastructure</a></li>
          <li><a href="{% link _docs/learn/aws/next-steps.md %}">Next Steps</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/learn/gcp.md %}">Google Cloud</a>
        <ul>
          <li><a href="{% link _docs/learn/gcp/install.md %}">Install Terraspace</a></li>
          <li><a href="{% link _docs/learn/gcp/configure.md %}">Configure GCP</a></li>
          <li><a href="{% link _docs/learn/gcp/new-project.md %}">Create New Project</a></li>
          <li><a href="{% link _docs/learn/gcp/review-project.md %}">Review the Project</a></li>
          <li><a href="{% link _docs/learn/gcp/deploy.md %}">Deploy Infrastructure</a></li>
          <li><a href="{% link _docs/learn/gcp/change.md %}">Change Infrastructure</a></li>
          <li><a href="{% link _docs/learn/gcp/update.md %}">Update Infrastructure</a></li>
          <li><a href="{% link _docs/learn/gcp/destroy.md %}">Destroy Infrastructure</a></li>
          <li><a href="{% link _docs/learn/gcp/next-steps.md %}">Next Steps</a></li>
        </ul>
      </li>
    </ul>
    <h2><a href="{% link docs.md %}">Docs</a></h2>
    <ul id="docs">
      <li><a href="{% link _docs/intro.md %}">Intro</a>
        <ul>
          <li><a href="{% link _docs/intro/how-terraspace-works.md %}">How Terraspace Works</a></li>
          <li><a href="{% link _docs/intro/concepts.md %}">Concepts</a></li>
          <li><a href="{% link _docs/intro/structure.md %}">Project Structure</a></li>
          <li><a href="{% link _docs/intro/install.md %}">Install</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/config.md %}">Config</a>
        <ul>
          <li><a href="{% link _docs/config/backend.md %}">Backend</a></li>
          <li><a href="{% link _docs/config/provider.md %}">Provider</a></li>
          <li><a href="{% link _docs/config/tfvars.md %}">Tfvars</a></li>
          <li><a href="{% link _docs/config/locals.md %}">Locals</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/generators.md %}">Generators</a>
        <ul>
          <li><a href="{% link _docs/generators/project.md %}">Project</a></li>
          <li><a href="{% link _docs/generators/module.md %}">Module</a></li>
          <li><a href="{% link _docs/generators/stack.md %}">Stack</a></li>
          <li><a href="{% link _docs/generators/cheatsheet.md %}">Cheatsheet</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/tfvars.md %}">Tfvars</a>
        <ul>
          <li><a href="{% link _docs/tfvars/seed.md %}">Seed</a></li>
          <li><a href="{% link _docs/tfvars/lookups.md %}">Lookups</a></li>
          <li><a href="{% link _docs/tfvars/layering.md %}">Layering</a></li>
          <li><a href="{% link _docs/tfvars/full-layering.md %}">Full Layering</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/state.md %}">State File</a>
        <ul>
          <li><a href="{% link _docs/state/approaches.md %}">Approaches</a></li>
          <li><a href="{% link _docs/state/existing.md %}">Existing Backend</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/testing.md %}">Testing</a>
        <ul>
          <li><a href="{% link _docs/testing/module.md %}">Module-Level</a></li>
          <li><a href="{% link _docs/testing/project.md %}">Project-Level</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/cli.md %}">CLI</a>
        <ul>
          <li><a href="{% link _docs/cli/args.md %}">Args</a></li>
          <li><a href="{% link _docs/cli/hooks.md %}">Hooks</a></li>
        </ul>
      </li>
      <li><a href="{% link _docs/dsl.md %}">DSL</a></li>
      <li><a href="{% link support.md %}">Support</a></li>
      <li>More
        <ul class="more">
          <li><a href="{% link _docs/contributing.md %}">Contributing</a></li>
          <li><a href="{% link _docs/next-steps.md %}">Next Steps</a></li>
        </ul>
      </li>
      <li><a href="{% link reference.md %}">CLI Reference</a></li>
    </ul>
  </section>
  <div class="menu-options">
    <h2>sidebar options:</h2>
    <ul class="list-unstyled">
      <li><a href="#" id="expand-all">expand all</a></li>
      <li><a href="{{ site.gh_url }}/blob/master/{{ page.path }}" target="_blank">edit page</a></li>
    </ul>
  </div>
</div>
