<div class="nav-tabs-wrapper">
  <ul class="nav nav-tabs" id="configTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="backend-tab" data-toggle="tab" href="#backend" role="tab" aria-controls="home"
         aria-selected="true">S3 Backend</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="azure-tab" data-toggle="tab" href="#azure" role="tab" aria-controls="azure"
         aria-selected="false">Azure Backend</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="gcs-tab" data-toggle="tab" href="#gcs" role="tab" aria-controls="gcs"
         aria-selected="false">GCS Backend</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="remote-tab" data-toggle="tab" href="#remote" role="tab" aria-controls="remote"
         aria-selected="false">
        Remote Backend: TFC and TFE
      </a>
    </li>
  </ul>
  <div class="tab-content" id="configTabsContent">
    <div class="tab-pane fade show active" id="backend" role="tabpanel" aria-labelledby="backend-tab">
      <div class="highlighter-rouge">
{% highlight sh %}
terraform {
  backend "s3" {
    bucket = "<%= expansion('terraform-state-:ACCOUNT-:REGION-:ENV') %>"
    key = "<%= expansion(':REGION/:ENV/:BUILD_DIR/terraform.tfstate') %>"
    region = "<%= expansion(':REGION') %>"
    encrypt = true
    dynamodb_table = "terraform_locks"
  }
}
{% endhighlight %}
      </div>

      <p>Notice the variable notation. Terraspace expands it out, substituting the values. The starter <code>backend.tf</code>
         accounts for <code>REGION</code>, <code>ENV</code>, etc. Here's an expanded example:</p>

      <div class="highlighter-rouge">
{% highlight sh %}
terraform
  terraform {
    backend "s3" {
    bucket = "terraform-state-111111111111-us-west-2-dev"
    key = "us-west-2/dev/stacks/demo/terraform.tfstate"
    region = "us-west-2"
    encrypt = true
    dynamodb_table = "terraform_locks"
  }
}
{% endhighlight %}
      </div>

      <p>You can fully control the state file path by adjusting this. The string substitution also makes it clear what
         the state path looks like.</p>
    </div>
    <div class="tab-pane fade" id="azure" role="tabpanel" aria-labelledby="azure-tab">
      <div class="highlighter-rouge">
{% highlight sh %}
terraform
  terraform {
    backend "azurerm" {
    resource_group_name = "<%= expansion(':ENV-:LOCATION') %>"
    storage_account_name = "<%= expansion('ts:SUBSCRIPTION_HASH:LOCATION:ENV') %>"
    container_name = "terraform-state"
    key = "<%= expansion(':LOCATION/:ENV/:BUILD_DIR/terraform.tfstate') %>"
  }
}
{% endhighlight %}
      </div>

      <p>Notice the variable notation. Terraspace expands it out, substituting the values. The starter <code>backend.tf</code>
         accounts for <code>LOCATION</code>, <code>ENV</code>, etc. Here's an expanded example:</p>

      <div class="highlighter-rouge">

{% highlight sh %}
terraform {
  backend "azurerm" {
    resource_group_name = "dev-eastus"
    storage_account_name = "tswxyzeastusdev"
    container_name = "terraform-state"
    key = "eastus/dev/stacks/demo/terraform.tfstate"
  }
}
{% endhighlight %}

      </div>

      <p>Note, the <code>SUBSCRIPTION_HASH</code> is a short 4-char consistent hash of the longer subscription id. This is useful because azure storage account names are not allowed special characters and are limited to 24 chars.</p>
    </div>
    <div class="tab-pane fade" id="gcs" role="tabpanel" aria-labelledby="gcs-tab">
      <div class="highlighter-rouge">
{% highlight sh %}
terraform
  terraform {
    backend "gcs" {
    bucket = "<%= expansion('terraform-state-:PROJECT-:REGION-:ENV') %>"
    prefix = "<%= expansion(':REGION/:ENV/:BUILD_DIR') %>"
  }
}
{% endhighlight %}
      </div>

      <p>Notice the variable notation. Terraspace expands it out, substituting the values. The starter <code>backend.tf</code> accounts for <code>PROJECT</code>, <code>ENV</code>, etc. Here's an expanded example:</p>
      <div class="highlighter-rouge">
{% highlight sh %}
terraform
  terraform {
    backend "gcs" {
    bucket = "terraform-state-google-project-id-us-central1-dev"
    prefix = "us-central1/dev/stacks/demo"
  }
}
{% endhighlight %}
      </div>

    </div>
    <div class="tab-pane fade" id="remote" role="tabpanel" aria-labelledby="remote-tab">
      <div class="highlighter-rouge">
{% highlight sh %}
terraform
  terraform {
    backend "remote" {
      organization = "ORG"
      workspaces {
      name = "<%= expansion(':MOD_NAME-:ENV-:REGION-:INSTANCE') %>"
    }
  }
}
{% endhighlight %}
      </div>

      <p>Here's an expanded example:</p>
      <div class="highlighter-rouge">
{% highlight sh %}
terraform
  terraform {
    backend "remote" {
      organization = "boltops"
      workspaces {
      name = "demo-dev-us-west-2"
    }
  }
}
{% endhighlight %}
      </div>

    </div>
  </div>
</div>